*{
  margin: 0;
  padding: 0;
  ;
}

body{
    height:100vh ;
  background-color:black;
    color: white;
  }
  
.titulo-destaque{
  color:#22D4FD
}
p{
  color: red;
  margin: 10 px;
  border: 2px solid black;
  padding: 5px;
}
    h1{
      color: #007BFF;
    }
      
    

